* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --hue: 294;
  --light: hsl(0, 0%, 100%);
  --dark: hsl(240, 5%, 7%);
  --primary-color: hsl(var(--hue), 97%, 31%);
  --primary-color-dark: hsl(var(--hue), 74%, 15%);
  --secondary-color-light: hsl(240, 9%, 89%);
  --secondary-color-dark: hsl(240, 6%, 17%);
  --icon-color-light: hsla(240, 6%, 21%, 1);
  --icon-color-dark: hsl(240, 7%, 78%);
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--icon-color-light);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.dark-mode {
  background: var(--dark);
  color: var(--light);
}
body.dark-mode .controls button svg path {
  fill: var(--icon-color-dark);
}
body.dark-mode #sounds div {
  background: var(--secondary-color-dark);
}
body.dark-mode #sounds .box-clicked {
  background: var(--primary-color-dark);
}
body.dark-mode #sounds div.box-clicked svg path {
  fill: white;
}
body.dark-mode #sounds div svg path {
  fill: var(--icon-color-dark);
}
body.dark-mode #sounds div .input-wrapper,
body.dark-mode #sounds div .input-wrapper::-webkit-slider-thumb {
  background: var(--light);
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
}
.mode-wrapper {
  height: 4.4rem;
  position: fixed;
  top: clamp(2rem, 1rem + 4vw, 6rem);
  right: clamp(2rem, 1rem + 4vw, 6rem);
  display: flex;
  align-items: center;
}
.alertMessage {
  background: #ffedee;
  color: #fa4d56;
  border-radius: 4px;
  padding: 0.8rem;
  position: fixed;
  top: clamp(4rem, 1rem + 5vh, 10rem);
  font-size: 1.6rem;
  display: flex;
  gap: 5px;
  align-items: center;
}
.hide {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 1rem + 5vw, 19.2rem);
}
#timer {
  font-size: clamp(5rem, 5rem + 10vw, 12.6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: clamp(10rem, 5rem + 10vw, 14rem);
}
.display {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.7rem;
}
.minutesAlert {
  animation: minutesAlert 100ms 100ms;
}
.controls {
  display: flex;
  gap: clamp(2rem, 1rem + 2vw, 4rem);
}
.controls button {
  width: clamp(4rem, 1rem + 1vw, 4.8rem);
}
#sounds {
  display: grid;
  grid-template-areas:
    'A B'
    'C D';
  gap: clamp(1rem, 1rem + 2vw, 3.2rem);

  justify-content: center;
}
#sounds div {
  background: var(--secondary-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2.4rem, 1rem + 4vw, 3.2rem);
  padding-inline: clamp(1.4rem, 1rem + 1vw, 2.4rem);
  padding-block: clamp(2.4rem, 1rem + 1vw, 2.4rem);
  border-radius: 2.4rem;
}
#sounds div svg {
  height: clamp(4rem, 1rem + 4vw, 5.6rem);
}
#sounds .box-clicked {
  background: var(--primary-color);
}
#sounds div.box-clicked svg path {
  fill: white;
}
#sounds div.box-clicked .input-wrapper,
#sounds div.box-clicked .input-wrapper::-webkit-slider-thumb {
  background: var(--light);
}
.input-wrapper {
  -webkit-appearance: none;
  outline: none;
  width: 9rem;
  height: 4px;
  border-radius: 9px;
  background: var(--icon-color-light);
}
.input-wrapper::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--icon-color-light);
  cursor: pointer;
}
.input-wrapper::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--icon-color-light);
  cursor: pointer;
}
@keyframes minutesAlert {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@media screen and (min-width: 900px) {
  main {
    flex-direction: row;
    align-items: center;
  }
}
